<!DOCTYPE html>
<html>
<head>
  <title>E2e tests connector</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "e2e_tests_connector/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
